.main-header {
    height: var(--header-height);
    background: var(--background-color);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 100;

    &>.ed-grid{
        height: 100%;
    }
}
